.videoAndDescriptionContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3498db;
  color: white;
  padding: 1.5rem;
  border-radius: 3rem;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
}
