h2 {
  font-size: 2.5rem;
  font-family: "Sarala", sans-serif;
}

.videoAndDescriptionContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3498db;
  color: white;
  padding: 1.5rem;
  border-radius: 3rem;
  font-size: 1.2rem;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
}

.description p {
  text-align: justify;
  text-align-last: center;
  line-height: 1.3;
}
