.header {
  z-index: 5;
  position: relative;
  width: 100%;
  height: 70vh;
  background-color: #3498db;
  overflow: hidden;
  z-index: 5;
}

.header .content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.header h1 {
  margin: 0;
  font-size: 5rem;
  opacity: 0;
  animation: slideInLeft 1s ease-out forwards;
}

.header p {
  font-size: 2.5rem;
  margin-top: 10px;
  opacity: 0;
  animation: slideInRight 1s ease-out forwards;
  animation-delay: 0.3s;
}

.waveContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.waveContainer svg {
  position: relative;
  display: block;
  width: calc(149% + 1.3px);
  height: 125px;
  transform: rotateY(180deg);
}

.waveContainer .fillWave {
  fill: white;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
