body {
  /* background-image: linear-gradient(
      to right,
      rgb(216, 212, 212) 1px,
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(216, 212, 212) 1px, transparent 1px);
  background-size: 20px 20px; */
  margin: 0;
  font-family: Arial, sans-serif;
  width: 100vw;
  overflow-x: hidden;
}
.mainAppContainer {
  max-width: 100%;
  overflow-x: hidden;
}
